.main
  .main__group
    .main__group__left
      .main__group__left__name
        グループ名
      .main__group__left__members
        member：
    .main__group__edit
      =link_to "#", class: "main__group__edit__btn" do
        Edit
  .main__comments
    .main__comments__list
      .main__comments__list__top
        .main__comments__list__top__name
          masa
        .main__comments__list__top__date
          2019/12/24
      .main__comments__list__comment
        hello
    .main__comments__list
      .main__comments__list__top
        .main__comments__list__top__name
          masa
        .main__comments__list__top__date
          2019/12/24
      .main__comments__list__comment
        goodbye
  .main__postmenu
    .main__postmenu__group
      -# = form_tag( "#", method: :post ) do
      .main__postmenu__group__text
        = text_field :text,'', class: 'main__postmenu__group__text__form', placeholder: 'type a message'
        %label.main__postmenu__group__text__image
          = icon('far', 'image', class: "main__postmenu__group__text__image__btn")
          = file_field :image,'', class: "main__postmenu__group__text__image__file"
      = submit_tag 'Send', class: 'main__postmenu__group__btn'
